@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FF7B0D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(36, 36, 36);
    font-family: 'Readex Pro', sans-serif;
    width: 600px;
    height: 600px;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 8px rgba(38, 38, 38, 0.278);
}
.logo_text h1{
    font-size: 2em;
    color: #FF7B0D;
    padding: 2em;
}
.login_form h3{
    padding-left: 15px;
    font-size: 1.4em;
    color: #FF7B0D;
}
.login_form form{
    display: flex;
    flex-direction: column;
}
.login_form #text_input{
    margin: 10px;
    width: 20em;
    padding: 10px;
    border-radius: 0.1em;
    border: none;
    appearance: none;
    outline: none;
    background-color: #f28e3b;
    color: #242424;
    font-size: large;
    font-weight: 600;
}
input:focus{
    border-bottom: 3.5px solid #FF7B0D; 
}
input:focus::placeholder{
    color: transparent;
}
input::placeholder{
    font-weight: 550;
    color: rgba(50, 50, 50, 0.6);
    transition: color 0.3s ease;
}

.login_form p{
    
}

@media only screen and (max-width: 900px){
    .container{
        width: 80vw;
        max-width: 600px;
        height: 65vh;
    }
    .login_form input{
        width: 60vw;
        max-width: 20em;
    }
    .login_form h3{
        font-size: 1.3em;
    }
}