@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: antiquewhite;
    width: 600px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_element{
    background-color: aquamarine;
    width: 100%;
    margin: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 12em;
}
.logo h1{
    font-weight: 600;
    font-size: 80px;
}
.main_form{
    height: 22em;
}
.main_form form{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main_form-p{
    font-size: x-large;
}
.end_form{
    height: 10em;
}