<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
    <div class="container">
        <div class="logo container_element">
            <h1>TTtracker</h1>
        </div>
        <div class="main_form container_element">
            <form action="">
                <div class="username">
                    <p class="main_form-p">User Name</p>
                    <input type="text" placeholder="Enter Username">
                </div>
                <div class="password">
                    <p class="main_form-p">User Name</p>
                    <input type="password" placeholder="Enter Password">
                </div>
            </form>
        </div>
        <div class="end_form container_element">
            dont have acc
        </div>
    </div>
</body>
</html>